*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $color-oscuro;
}
a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.meses{
    @include grid-c(1);
    &_container{
        @include fondo-claro;
        @include sombra;
    }
}
.mes{
    text-align: center;
    font-family: $fuente-titulos;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 100;
    @include fondo-claro;
    &:hover{
        color: rgba($color-letra, .6)
    }
    &_calendar{
        @include grid-c(7);
        text-align: center;
    }
}

.dia{
    background: rgba($color-oscuro, .7);
    color: $color-letra;
    padding: 10px;
    &-vacio{
        color: transparent;
    }
    &:hover{
        padding: 8px;
        background: rgba($color-letra, .1);
        border: 2px solid $color-gris-oscuro;
        color: $color-letra;
    }
}