@mixin fondo-caja-calendar($color-fondo, $color-dias) {
    background: $color-fondo;
    color: $color-letra;
    border-radius: 15px;
    & .dia{
        background: rgba($color-dias, .7);
        @include calendario-mes;
        &:hover{
            padding: 8px;
            background: rgba($color-letra, .1);
            border: 2px solid $color-gris-oscuro;
            color: $color-letra;
        }
        &-vacio{
            @include calendario-mes;
            color: transparent;
        }
        &-semana{
            @include calendario-mes;
        }
    }
}
@mixin grid-c($colums){
    display: grid;
    grid-template-columns: repeat($colums, 1fr);
}
@mixin sombra {
    border: 1px solid $color-letra;
    padding: 10px;
    margin: 15px 20px;
    box-shadow: 5px 10px 5px rgba($color-letra,.3);
}
@mixin calendario-mes{
    color: $color-letra;
    font-family: $fuente-contenido;
    padding: 10px;
}
@mixin portada-mes($mes){
    height: 100vh;
    width: 100%;
    background-image: url(../images/#{$mes}.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin titulo-mes($background, $fuente, $color-de-letra){
    text-align: center;
    font-family: $fuente;
    text-transform: capitalize;
    background: $background;
    color: $color-de-letra;
}
@mixin color-portada($background,$fuente,$color-de-letra,$color-fondo,$color-dias){
    .portada-container{
        position: relative;
        top: calc(50vh - 190px);
        max-width: 400px;
        margin: 0 auto;
        h1{
            @include titulo-mes($background,$fuente,$color-de-letra);
            font-size: 3rem;
        }
        .mes_calendar{
            @include fondo-caja-calendar($color-fondo,$color-dias);
            @include sombra;
        }
    }
}
@mixin goals($color) {
    width: 60%;
    border-bottom: 3px solid $color;
    border-radius: 10px;
}
@mixin notas($fuente) {
    width: 100%;
    font-size: .9rem;
    font-family: $fuente;
}
@mixin tituloListas($fuente) {
    width: fit-content;
    margin: 0 auto;
    padding: 15px 0;
    font-family: $fuente;
    font-size: 2rem;
    text-transform: uppercase;
}
@mixin checkCasilla($color) {
    width: 20px;
    height: 20px;
    border: 1px solid $color;
    background-color: $color;
    border-radius: 30%;
    margin: 10px;
    align-self: flex-start;
}
@mixin fondoListas($fondo) {
    width: 90%;
    margin: 40px auto;
    padding-bottom: 20px;
    border-radius: 16px;
    background: $fondo;
}
@mixin tituloSection($fondo) {
    background: $fondo;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 15px;
}
@mixin goals_mes($mes,$fuente1,$fuente2,$colorOscuro,$coloMedio,$colorClaro) {
    .goals{
        &.#{$mes}{
            @include fondoListas(transparent);
            @include tituloSection($colorOscuro);
            text-transform: none;
        }
        &_titulo{
            @include tituloListas($fuente1);
        }
        &_1,&_3{
            @include goals($coloMedio);
            margin: 0 20px 20px auto;
            border-left: 3px solid $coloMedio;
        }
        &_2{
            @include goals($coloMedio);
            margin: 0 auto 20px 20px;
            border-right: 3px solid $coloMedio;
        }
        &_1,&_3,&_2{
            padding: 10px;
            h3{
                font-family: $fuente2;
                font-size: 1.7rem;
                font-weight: 100;
            }
            p{
                @include notas($fuente1);
            }
        }
    }
    .listas{
        .#{$mes}{
            @include fondoListas($colorClaro);
            h3{
                @include tituloSection($colorOscuro);
            }
            .body,.mind,.soul,.rutine{
                @include tituloListas($fuente1);
            }
            .notas{
                margin: 0 15px;
                padding: 10px;
                border: 1px solid $colorOscuro;
                border-radius: 10px;
                .nota{
                    display: flex;
                    align-items: center;
                    .check{
                        @include checkCasilla($colorOscuro);
                        &_no{
                            @include checkCasilla($colorOscuro);
                            background-color: transparent;
                        }
                    }
                    p{
                        @include notas($fuente1);
                    }
                }
            }
        }
    }
}
