@mixin fondo-caja-calendar($color-fondo, $color-dias) {
    background: $color-fondo;
    color: $color-letra;
    border-radius: 15px;
    & .dia{
        background: rgba($color-dias, .7);
        @include calendario-mes;
        &:hover{
            padding: 8px;
            background: rgba($color-letra, .1);
            border: 2px solid $color-gris-oscuro;
            color: $color-letra;
        }
        &-vacio{
            @include calendario-mes;
            color: transparent;
        }
        &-semana{
            @include calendario-mes;
        }
    }
}
@mixin grid-c($colums){
    display: grid;
    grid-template-columns: repeat($colums, 1fr);
}
@mixin sombra {
    border: 1px solid $color-letra;
    padding: 10px;
    margin: 15px 20px;
    box-shadow: 5px 10px 5px rgba($color-letra,.3);
}
@mixin calendario-mes{
    color: $color-letra;
    font-family: $fuente-contenido;
    padding: 10px;
}
@mixin portada-mes($mes){
    height: 100vh;
    width: 100%;
    background-image: url(../images/#{$mes}.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin titulo-mes($background, $fuente, $color-de-letra){
    text-align: center;
    font-family: $fuente;
    text-transform: capitalize;
    background: $background;
    color: $color-de-letra;
}
@mixin color-portada($background,$fuente,$color-de-letra,$color-fondo,$color-dias){
    .portada-container{
        position: relative;
        top: 30vh;
        max-width: 400px;
        margin: 0 auto;
        h1{
            @include titulo-mes($background,$fuente,$color-de-letra);
            font-size: 3rem;
        }
        .mes_calendar{
            @include fondo-caja-calendar($color-fondo,$color-dias);
            @include sombra;
        }
    }
}
@mixin goals {
    width: 60%;
    border-bottom: 3px solid $color-secundary-3;
    border-radius: 10px;
}
@mixin notas {
    width: 100%;
    font-size: .9rem;
    font-family: $fuente-contenido;
}
@mixin tituloListas {
    width: fit-content;
    margin: 0 auto;
    padding: 15px 0;
    font-family: $fuente-contenido;
    font-size: 2rem;
    text-transform: uppercase;
}
@mixin checkCasilla {
    width: 20px;
    height: 20px;
    border: 1px solid $color-secundary-4;
    background-color: $color-secundary-4;
    border-radius: 30%;
    margin: 10px;
    align-self: flex-start;
}
@mixin fondoListas {
    width: 90%;
    margin: 40px auto;
    padding-bottom: 20px;
    border-radius: 16px;
    background: $color-secundary-2;
}
@mixin tituloSection {
    background: $color-secundary-4;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 15px;
}