$color-claro: #f3d5c4;
$color-oscuro: #f8a88f;
$color-contraste: #cc9b4e;
$color-letra: #000000;
$color-cajas: #f6e2d7;

/*TONOS DE GRIS*/
$color-gris-oscuro: #8c8c8c;
$color-gris-fondo: #e0e0df;
$color-gris-caja: #d3d4d2;
$color-gris-medio: #d8d8d8;
$color-gris-claro: #f1f1f1;

/*FUENTES*/
$fuente-contenido: 'Playfair Display', serif;
$fuente-notas: 'Redressed', cursive;
$fuente-titulos: 'Langar', cursive;