/*PALETON*/
/*Color anaranjado*/
/*Color morado grisaseo*/
/*Color verde*/
/*TONOS DE GRIS*/
/*FUENTES*/
.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A65539;
  color: #FFD9CC;
}
.header .titulo {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-left: 25px;
  text-transform: uppercase;
}

.menu-navegacion {
  width: 70px;
  border-radius: 40px;
  position: fixed;
  top: 16px;
  right: 5px;
  background-color: #A65539;
  z-index: 1;
  cursor: pointer;
}

.menu-burger {
  width: 100%;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.menu-despleglable {
  display: none;
}
.menu-despleglable.deploy {
  display: block;
  padding: 80px 30px 20px;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  position: absolute;
  background: #A65539;
  border-radius: 40px;
  text-transform: capitalize;
}
.menu-despleglable.deploy a {
  color: #000000;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.meses {
  background: #f8a88f;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.meses_container {
  background: #FFEEE8;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.meses_container .dia {
  background: rgba(247, 185, 164, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.meses_container .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.meses_container .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.meses_container .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.mes {
  text-align: center;
  font-family: #FFEEE8;
  text-transform: capitalize;
  background: "Langar", cursive;
  color: #000000;
  font-size: 2rem;
  font-weight: 100;
}
.mes:hover {
  color: rgba(0, 0, 0, 0.6);
}
.mes_calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.portada {
  position: relative;
}
.portada.enero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/enero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.febrero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/febrero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.marzo {
  height: 100vh;
  width: 100%;
  background-image: url(../images/marzo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.abril {
  height: 100vh;
  width: 100%;
  background-image: url(../images/abril.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.mayo {
  height: 100vh;
  width: 100%;
  background-image: url(../images/mayo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.junio {
  height: 100vh;
  width: 100%;
  background-image: url(../images/junio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.julio {
  height: 100vh;
  width: 100%;
  background-image: url(../images/julio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.agosto {
  height: 100vh;
  width: 100%;
  background-image: url(../images/agosto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.septiembre {
  height: 100vh;
  width: 100%;
  background-image: url(../images/septiembre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.octubre {
  height: 100vh;
  width: 100%;
  background-image: url(../images/octubre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.noviembre {
  height: 100vh;
  width: 100%;
  background-image: url(../images/noviembre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portada.diciembre {
  height: 100vh;
  width: 100%;
  background-image: url(../images/diciembre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.enero .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.enero .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.enero .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.enero .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.enero .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.enero .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.enero .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.febrero .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.febrero .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.febrero .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.febrero .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.febrero .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.febrero .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.febrero .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.marzo .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.marzo .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.marzo .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.marzo .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.marzo .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.marzo .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.marzo .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.abril .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.abril .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.abril .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.abril .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.abril .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.abril .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.abril .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.mayo .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.mayo .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.mayo .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.mayo .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.mayo .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.mayo .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.mayo .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.junio .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.junio .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.junio .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.junio .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.junio .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.junio .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.junio .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.julio .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.julio .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.julio .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.julio .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.julio .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.julio .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.julio .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.agosto .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.agosto .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.agosto .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.agosto .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.agosto .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.agosto .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.agosto .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.septiembre .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.septiembre .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.septiembre .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.septiembre .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.septiembre .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.septiembre .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.septiembre .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.octubre .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.octubre .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.octubre .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.octubre .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.octubre .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.octubre .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.octubre .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.noviembre .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.noviembre .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.noviembre .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.noviembre .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.noviembre .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.noviembre .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.noviembre .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.diciembre .portada-container {
  position: relative;
  top: calc(50vh - 190px);
  max-width: 400px;
  margin: 0 auto;
}
.diciembre .portada-container h1 {
  text-align: center;
  font-family: "Redressed", cursive;
  text-transform: capitalize;
  background: #f1f1f1;
  color: #000000;
  font-size: 3rem;
}
.diciembre .portada-container .mes_calendar {
  background: #E3D7D9;
  color: #000000;
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 15px 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.diciembre .portada-container .mes_calendar .dia {
  background: rgba(160, 128, 133, 0.7);
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
.diciembre .portada-container .mes_calendar .dia:hover {
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #8c8c8c;
  color: #000000;
}
.diciembre .portada-container .mes_calendar .dia-vacio {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: transparent;
}
.diciembre .portada-container .mes_calendar .dia-semana {
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.goals.enero {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .enero {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .enero h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .enero .body, .listas .enero .mind, .listas .enero .soul, .listas .enero .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .enero .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .enero .notas .nota {
  display: flex;
  align-items: center;
}
.listas .enero .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .enero .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .enero .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.febrero {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .febrero {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .febrero h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .febrero .body, .listas .febrero .mind, .listas .febrero .soul, .listas .febrero .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .febrero .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .febrero .notas .nota {
  display: flex;
  align-items: center;
}
.listas .febrero .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .febrero .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .febrero .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.marzo {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .marzo {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .marzo h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .marzo .body, .listas .marzo .mind, .listas .marzo .soul, .listas .marzo .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .marzo .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .marzo .notas .nota {
  display: flex;
  align-items: center;
}
.listas .marzo .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .marzo .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .marzo .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.abril {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .abril {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .abril h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .abril .body, .listas .abril .mind, .listas .abril .soul, .listas .abril .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .abril .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .abril .notas .nota {
  display: flex;
  align-items: center;
}
.listas .abril .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .abril .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .abril .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.mayo {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .mayo {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .mayo h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .mayo .body, .listas .mayo .mind, .listas .mayo .soul, .listas .mayo .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .mayo .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .mayo .notas .nota {
  display: flex;
  align-items: center;
}
.listas .mayo .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .mayo .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .mayo .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.junio {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .junio {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .junio h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .junio .body, .listas .junio .mind, .listas .junio .soul, .listas .junio .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .junio .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .junio .notas .nota {
  display: flex;
  align-items: center;
}
.listas .junio .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .junio .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .junio .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.julio {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .julio {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .julio h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .julio .body, .listas .julio .mind, .listas .julio .soul, .listas .julio .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .julio .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .julio .notas .nota {
  display: flex;
  align-items: center;
}
.listas .julio .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .julio .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .julio .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.agosto {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .agosto {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .agosto h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .agosto .body, .listas .agosto .mind, .listas .agosto .soul, .listas .agosto .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .agosto .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .agosto .notas .nota {
  display: flex;
  align-items: center;
}
.listas .agosto .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .agosto .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .agosto .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.septiembre {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .septiembre {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .septiembre h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .septiembre .body, .listas .septiembre .mind, .listas .septiembre .soul, .listas .septiembre .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .septiembre .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .septiembre .notas .nota {
  display: flex;
  align-items: center;
}
.listas .septiembre .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .septiembre .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .septiembre .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.octubre {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .octubre {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .octubre h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .octubre .body, .listas .octubre .mind, .listas .octubre .soul, .listas .octubre .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .octubre .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .octubre .notas .nota {
  display: flex;
  align-items: center;
}
.listas .octubre .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .octubre .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .octubre .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.noviembre {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .noviembre {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .noviembre h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .noviembre .body, .listas .noviembre .mind, .listas .noviembre .soul, .listas .noviembre .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .noviembre .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .noviembre .notas .nota {
  display: flex;
  align-items: center;
}
.listas .noviembre .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .noviembre .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .noviembre .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.goals.diciembre {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: transparent;
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
  text-transform: none;
}
.goals_titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.goals_1, .goals_3 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 20px 20px auto;
  border-left: 3px solid #BFAAAD;
}
.goals_2 {
  width: 60%;
  border-bottom: 3px solid #BFAAAD;
  border-radius: 10px;
  margin: 0 auto 20px 20px;
  border-right: 3px solid #BFAAAD;
}
.goals_1, .goals_3, .goals_2 {
  padding: 10px;
}
.goals_1 h3, .goals_3 h3, .goals_2 h3 {
  font-family: "Redressed", cursive;
  font-size: 1.7rem;
  font-weight: 100;
}
.goals_1 p, .goals_3 p, .goals_2 p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

.listas .diciembre {
  width: 90%;
  margin: 40px auto;
  padding-bottom: 20px;
  border-radius: 16px;
  background: #F6F2F3;
}
.listas .diciembre h3 {
  background: #A08085;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}
.listas .diciembre .body, .listas .diciembre .mind, .listas .diciembre .soul, .listas .diciembre .rutine {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.listas .diciembre .notas {
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #A08085;
  border-radius: 10px;
}
.listas .diciembre .notas .nota {
  display: flex;
  align-items: center;
}
.listas .diciembre .notas .nota .check {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
}
.listas .diciembre .notas .nota .check_no {
  width: 20px;
  height: 20px;
  border: 1px solid #A08085;
  background-color: #A08085;
  border-radius: 30%;
  margin: 10px;
  align-self: flex-start;
  background-color: transparent;
}
.listas .diciembre .notas .nota p {
  width: 100%;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
}

@media only screen and (min-width: 768px) {
  .meses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .meses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .portada.enero, .goals.enero {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.febrero, .goals.febrero {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.marzo, .goals.marzo {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.abril, .goals.abril {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.mayo, .goals.mayo {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.junio, .goals.junio {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.julio, .goals.julio {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.agosto, .goals.agosto {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.septiembre, .goals.septiembre {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.octubre, .goals.octubre {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.noviembre, .goals.noviembre {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }

  .portada.diciembre, .goals.diciembre {
    width: 15%;
    display: table-cell;
    border-radius: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .meses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1400px) {
  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .listas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}