section.meses(id="meses")
    each mes in meses
        .meses_container
            a(href="#"+mes[0]).mes #{mes[0]}
            .mes_calendar
                +semana
                -var i=0
                while i < mes[2]
                    .dia-vacio #{i++}

                -var i=1
                while i <= mes[1]
                    a(href="#"+mes[0]+"_"+i)
                        .dia #{i++}
                    

                

