header.header
    h1.titulo Agenda 2021
    nav.menu-navegacion
        svg.menu-burger(viewBox="0 0 27 23")
            path(fill="#FFD9CC" d="M3.5 1h20a2.5 2.5 0 0 1 0 5h-20a2.5 2.5 0 0 1 0 -5m0 8h20a2.5 2.5 0 0 1 0 5h-20a2.5 2.5 0 0 1 0 -5m0 8h20a2.5 2.5 0 0 1 0 5h-20a2.5 2.5 0 0 1 0 -5")
        .menu-despleglable
            each mes in meses
                a(href="#"+mes[0]).mes #{mes[0]}