//-enero
+portada("enero",1)
+goals(goals_enero)

-var dia=1
while dia <= meses[0][1]
    +listas(enero,dia++,"enero")

//-+notas(notas_enero)


//-febrero
+portada("febrero",2)
+goals(goals_febrero)

-var dia=1
while dia <= meses[1][1]
    +listas(febrero,dia++,"febrero")


//-marzo
+portada("marzo",3)
+goals(goals_marzo)

-var dia=1
while dia <= meses[2][1]
    +listas(marzo,dia++,"marzo")


//-abril
+portada("abril",4)
+goals(goals_abril)

-var dia=1
while dia <= meses[3][1]
    +listas(abril,dia++,"abril")


//-mayo
+portada("mayo",5)
+goals(goals_mayo)

-var dia=1
while dia <= meses[4][1]
    +listas(mayo,dia++,"mayo")


//-junio
+portada("junio",6)
+goals(goals_junio)

-var dia=1
while dia <= meses[5][1]
    +listas(junio,dia++,"junio")


//-julio
+portada("julio",7)
+goals(goals_julio)

-var dia=1
while dia <= meses[6][1]
    +listas(julio,dia++,"julio")


//-agosto
+portada("agosto",8)
+goals(goals_agosto)

-var dia=1
while dia <= meses[7][1]
    +listas(agosto,dia++,"agosto")


//-septiembre
+portada("septiembre",9)
+goals(goals_septiembre)

-var dia=1
while dia <= meses[8][1]
    +listas(septiembre,dia++,"septiembre")


//-octubre
+portada("octubre",10)
+goals(goals_octubre)

-var dia=1
while dia <= meses[9][1]
    +listas(octubre,dia++,"octubre")


//-noviembre
+portada("noviembre",11)
+goals(goals_noviembre)

-var dia=1
while dia <= meses[10][1]
    +listas(noviembre,dia++,"noviembre")


//-diciembre
+portada("diciembre",12)
+goals(goals_diciembre)

-var dia=1
while dia <= meses[11][1]
    +listas(diciembre,dia++,"diciembre")