//-enero
+portada("enero",1)
+goals(goals_enero)
+listas(enero,1,"enero")

//-+notas(notas[0])

//-febrero
+portada("febrero",2)
+goals(goals_febrero)
+listas(febrero,2,"febrero")


//-marzo
+portada("marzo",3)
+goals(goals_marzo)
+listas(marzo,3,"marzo")


//-abril
+portada("abril",4)
+goals(goals_abril)
+listas(abril,4,"abril")


//-mayo
+portada("mayo",5)
+goals(goals_mayo)
+listas(mayo,5,"mayo")


//-junio
+portada("junio",6)
+goals(goals_junio)
+listas(junio,6,"junio")


//-julio
+portada("julio",7)
+goals(goals_julio)
+listas(julio,7,"julio")


//-agosto
+portada("agosto",8)
+goals(goals_agosto)
+listas(agosto,8,"agosto")


//-septiembre
+portada("septiembre",9)
+goals(goals_septiembre)
+listas(septiembre,9,"septiembre")


//-octubre
+portada("octubre",10)
+goals(goals_octubre)
+listas(octubre,10,"octubre")


//-noviembre
+portada("noviembre",11)
+goals(goals_noviembre)
+listas(noviembre,11,"noviembre")


//-diciembre
+portada("diciembre",12)
+goals(goals_diciembre)
+listas(diciembre,12,"diciembre")